<h1>Upcomming Events</h1>
<% if @events.empty? %>
  <p>No upcomming events scheduled.</p>
<% else %>
  <table>
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Title</th>
      <th colspan = 3>Tools</th>
    </tr>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.category %></td>
      <td><%= event.title %></td>
      <td><%= link_to image_tag("question.png", alt: "Details"), event %></td>
      <td><%= link_to image_tag("edit.png", alt: "Edit"), edit_event_path(event) %></td>
      <td><%= link_to image_tag("delete.png", alt: "Delete"), event, method: :delete, data: { confirm: 'Are you sure you wish to delete this event?' } %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<br />
<%= link_to image_tag("new.png", alt: "New Event") + " New Event", new_event_path %>
