<h1 class="page-header text-center"><%= t "events.index" %></h1>
<% if @events.empty? %>
  <p><% t "events.empty" %></p>
<% else %>
  <table class="table table-hover">
    <thead>
      <th class="text-center"><%= t "events.date"  %></th>
      <th class="text-center"><%= t "events.category" %></th>
      <th class="text-center"><%= t "events.title" %></th>
      <th></th>
    </thead>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.category %></td>
      <td><%= event.title %></td>
      <td class="btn-group">
        <%= link_to event, class:"btn btn-primary" do %>
          <i class="icon-eye-open icon-white"></i> Details<% end %>
        <%= link_to edit_event_path(event), class:"btn btn-primary" do %>
          <i class="icon-edit icon-white"></i> Edit<% end %>
        <%= link_to event, method: :delete, 
              data: { confirm: 'Are you sure you wish to delete this event?' },
              class:"btn btn-primary" do %>
            <i class="icon-trash icon-white"></i> Delete
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>

<br />
<%= link_to new_event_path, class: "btn btn-primary" do %> <i class="icon-plus icon-white"></i> New Event<% end %>
