<h1><%= t "events.index" %></h1>
<% if @events.empty? %>
  <p><% t "events.empty" %></p>
<% else %>
  <table>
    <tr>
      <th><%= t "events.date"  %></th>
      <th><%= t "events.category" %></th>
      <th><%= t "events.title" %></th>
      <th colspan = 3><%= t "navigation.tools"  %></th>
    </tr>

    <% @events.each do |event| %>
    <tr>
      <td><%= event.date %></td>
      <td><%= event.category %></td>
      <td><%= event.title %></td>
      <td><%= link_to image_tag("question.png", alt: "Details"), event %></td>
      <td><%= link_to image_tag("edit.png", alt: "Edit"), edit_event_path(event) %></td>
      <td><%= link_to image_tag("delete.png", alt: "Delete"), event, method: :delete, data: { confirm: 'Are you sure you wish to delete this event?' } %></td>
    </tr>
    <% end %>
  </table>
<% end %>

<br />
<%= link_to image_tag("new.png") + (t "events.new"), new_event_path %>
