<h1 class="page-header text-center"><%= t "events.show" %></h1>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="row">
    <div class="span2 text-right"><b><%= t "labels.title" %>:</b></div>
    <div class="span6"><%= @event.title %></div> 
  </div>

  <div class="row">
    <div class="span2 text-right"><b><%= t "labels.date" %>:</b></div>
    <div class="span6"><%= @event.date %></div>
  </div>

  <div class="row">
    <div class="span2 text-right"><b><%= t "labels.description" %>:</b></div>
    <div class="span6"><%= @event.description %></div>
  </div>

  <div class="row">
    <div class="span2 text-right"><b><%= t "labels.category" %>:</b></div>
    <div class="span6"><%= @event.category %></div>
  </div>

</div>
<br>
  <div class="row text-center">
  <%= link_to edit_event_path(@event), class:"btn btn-primary" do %>
            <i class="icon-edit icon-white"></i> Edit<% end %>
  <%= link_to events_path, class:"btn btn-primary" do %><i class="icon-arrow-left icon-white"></i> Back<% end %>
  </div>
