<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Category:</b>
  <%= @event.category %>
</p>

<%= link_to image_tag("back.png", alt: 'Back'), events_path %>
<%= link_to image_tag("edit.png", alt: "Edit"), edit_event_path(@event) %>
